In [2]:
import numpy as np
import pandas as pd
test = pd.read_csv("Test.csv")
train = pd.read_csv("train.csv")

In [3]:
train.columns

Index(['text', 'target'], dtype='object')

In [4]:
train.head()

           text     target
0    government  political
1      politics  political
2    governance  political
3           law  political
4  governmental  political

In [5]:
test.head()

   id                                               text
0   0                                    [TIRES SCREECH]
1   0            GRUMPY: Three of a kind, let's do this.
2   0                   CHUCKLES: That's it? Three guys?
3   0  GRUMPY: Two guys on the roof. Every guy gets a...
4   0                             Five shares is plenty.

In [6]:
import re
def clean(dataset, col):
    dataset[col]= dataset[col].str.lower()
    dataset[col]= dataset[col].apply(lambda x:re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", x))
    return dataset

In [7]:
data_new = clean(train, "text")

In [8]:
data_new.head()

           text     target
0    government  political
1      politics  political
2    governance  political
3           law  political
4  governmental  political

In [9]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(data_new["text"], data_new["target"], random_state=0)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [13]:
pipeline_sgd = Pipeline([
    ('vect',CountVectorizer()),
    ('tfidf', TfidfTransformer())
])

model= pipeline_sgd.fit(X_train, y_train)